/**
 * @file
 * Message Styling
 *
 * Sensible styling for Drupal's error/warning/status messages.
 */

div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  min-height: 21px;
  margin: 0 auto;
  border-bottom: 1px solid #ff7;
  padding: 5px 5px 5px 35px; /* LTR */
  padding: 6px;
  color: #666;
  background-color: #ffc;
  /*background-image: url(../images/messages-status.png);*/
  background-repeat: no-repeat;
  background-position: 5px 5px; /* LTR */
  /*box-shadow: 0 2px 0 rgba(96, 96, 96, 0.25);*/
  font-size: 0.9em;	
}

div.status /* Normal priority messages */ {
}

div.warning /* Medium priority messages */ {
  border-bottom-color: #fc0;
  border: none;
  /*background-image: url(../images/messages-warning.png);*/
}

div.warning,
tr.warning {
  color: #333; /* Drupal core uses #220 */
  background-color: #ffc;
}

div.error /* High priority messages. See also the .error declaration in pages.css. */ {
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  border-bottom-color: #c00;
  border: none;
  /*background-image: url(../images/messages-error.png);*/
}

div.error,
tr.error {
  color: #900; /* Drupal core uses #200 */
  background-color: #fee;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}
