/**
 * @file
 * Views Styling
 */


.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.4em;
  
}


.view-filters {
  margin: 0 0 3em;
}

.news-list ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-list .views-row {
  list-style: none !important;
  list-style-type: none;
  margin: 0 0 3em;
}

.views-field-field-subhead-value {
  color: #808080;
  text-transform: uppercase;
}

.views-field-title h2 {
  margin: 0;
  line-height: 1.2em;
}

.view-display-id-news .views-row {
  border-bottom: 1px solid #EBEBEB;
}
  
